
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}


body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;



}


.popup-frame {
  width: 370px;
  height: 326px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  background-color: #ffffff;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
 
}


.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 22px;
}

.checkbox-list label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 8px 15px;
  height: 42px;
  transition: background-color 0.2s ease;
  color: #413838;
}

.checkbox-list label:hover {
  background-color: #EEEEEE;
}

.checkbox-list input[type="checkbox"] {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 6px;

}


.checkbox-list label:first-child,
.checkbox-list label:last-child {
  border-bottom: 1px solid #e0e0e0;
}



.done-btn {
  width: 340px;
  height: 40px;
  align-self: center;
  border: none;
  border-radius: 4px;
  background-color: #FFCE22;
  color: #000;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.2s ease;
}

.done-btn:hover {
  background-color: #FFD84D;
;
}

